*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: poppins;
    src: url(../font/Poppins-Regular.ttf);
}
body{
    margin: auto;
    background-color:white;
    overflow-x: hidden;
}
.m-80-t{
    margin-top: 80px;
}
.display{
    display: flex;
}
.top-header{
        width: 100%;
        height:40px;
        padding-top:13px;
        background: rgb(185,162,123);
        background: linear-gradient(90deg, rgba(185,162,123,1) 17%, 
        rgba(193,175,153,1) 48%,    rgba(187,162,125,1) 83%);
}
.txt{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #6a4031;
    font-size: 14px;
    line-height:10px;
    padding-left:50px;
    font-weight: 500;
}
.title{
    display: flex;
    justify-content: space-between;
}
.txt-title{
    display: flex;
    line-height: 10px;
    margin-right:80px;
    position: relative;
    
}

.txt-usd{
    font-family: "Poppins", sans-serif;
    color: #6a4031;
    font-size:16px;
    padding-left: 10px;
 
}
.down{
    font-size:10px;
}

.facebook{
    color: #6a4031;
    padding-left: 20px;
    margin-top:-10px;
}
.txt-title:hover .d-usd{
    display: block;
}
.d-usd{
    width: 100px;
    height: 100px;
    background-color: white;
    position: absolute;
    padding: 0px 0px 10px 10px;
    top:15px;
    transition: 0.5s;
    z-index:5;
    display: none;
}
.a2{
    text-decoration: none;
    color: #6a4031;
}
.a2:hover{
    font-weight: bold;
    color: #6a4031;
} 
.a1{
    padding: 10px;
}

/* header */


.head1{
    display: flex;
}

.header{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height:100px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    box-sizing: border-box;
    z-index: 1;
    position: relative;
  
}

.home{
    text-decoration: none;
    color: #6a4031;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size:15px;
    padding-left:25px;
}

.menu-button{
    background-color: #6a4031;
    border-radius: 50px;
    border: none;
    width:30px;
    height:30px;
    margin: 5px 5px;
}
.menu-button .m-i 
{
    color: white;
    font-size: 20px;
}

.menu-button:hover{
    /* color: black; */
    background-color: white;
} 

.menu-button:hover .m-i{
    color: black;
}

/* shop  */
.dropdown{
    height:180px;
    width: 150px;
    background-color: rgb(255, 255, 255);
    display:none;
    position: absolute;
    padding:10px 10px 0 20px;
    transform:0.9s;
    text-align: left;
}

.d-shop:hover .dropdown{
    display: block;
    border-radius: 5px;
}

.da{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: "Poppins", sans-serif;
 }
.da:hover{
    color:#6a4031;
}

.dl{
    padding-bottom:10px;
}

.d-left:hover .mar{
    display: block;
    border-radius:5px;
}
.mar{
    height: 150px;
    width: 160px;
    left:40px;
    background-color: rgb(255, 255, 255);
    padding: 10px 0px;
    display: none;
    position: absolute;
    text-align:left;
}
.d-product:hover .dropdown2{
    display: block;
    border-radius: 5px;
}

.dropdown2{
    height:120px;
    width: 140px;
    background-color: rgb(255, 255, 255);
    display:none;
    position: absolute;
    padding:10px 10px 0 20px;
    transform:0.9s;
    text-align: left;
}
.da2{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: "Poppins", sans-serif;
    padding-top:50px;
    
}
.dl1{
    padding-bottom:10px;
}
/* mega menu */
 .d-mega{
    display: inline-block;
}
.hv1{
    display: none;
    
}
.d-mega:hover .hv1{
    display: block;
} 
.mega-title{
    color:rgb(0, 0, 0);
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
}
.table{
    font-family: "Poppins", sans-serif;
    background-color: rgb(255, 255, 255);
    position: absolute;
    width:80%;
    margin-left: 100px;
    right: 140px;
    justify-content: space-evenly;
    padding: 60px 50px;
    text-align: left;
}
.p-2{
    padding-bottom: 8px;
}
.megamenu{
    text-decoration: none;
    color:#6a4031;
}
.megamenu:hover{
    border-bottom: dashed 2px rgb(164, 164, 18);
}
/* dropdown3 blog */
.dropdown3{
    height:150px;
    width: 150px;
    background-color: rgb(255, 255, 255);
    display:none;
    position: absolute;
    padding:10px 10px 0 20px;
    transform:0.9s;
    text-align: left;
}
.d-blog:hover .dropdown3{
    display: block;
    border-radius: 5px;
}


/* dropdwon blog no sidebar */
.d-no:hover .mar{
    display: block;
    border-radius: 5px;
}

.mar{
    height:150px;
    width:160px;
    margin-left:110px;
    background-color: rgb(255, 255, 255);
    padding:20px 20px;
    display: none;
    position: absolute;
    text-align: left;
}
.daa{
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-family: "Poppins", sans-serif;
    
}
.dll{
    padding-bottom:10px;
}

/* pages dropdwon  */

.dropdown1{
    width: 150px;
    background-color: rgb(244, 244, 244);
    display:none;
    position: absolute;
    padding:10px 10px 0 20px;
    transform:0.9s;
    text-align: left;

}
.d-pages:hover .dropdown1{
    display: block;
    border-radius: 5px;
}

/* section1 */
.section3{
    display: flex;
    align-items: center;
}
.sec-img{
    width:100%;
    height:746px;
    object-fit:cover;
    position:absolute;
    flex-wrap: wrap;

}
.contain{
    position:relative;
    left:80px;
    height: 600px;
    width:700px;
    text-align: center;
}
.contain-new{
    font-family: 'Dancing Script', cursive;
    color: #6a4031;
    font-weight: 300;
    font-size: 130px;
}
.contain-sur{
     font-family: 'Domine', serif;
    font-size:75px;
    font-weight:500;
    color: #000000;
 }
.contain-color{
    font-family: 'Domine', serif;
    font-size:75px;
    font-weight:500;
    color: #000000;
}
.contain > p{
    font-family: 'Domine', serif;
    font-weight: 500;
    font-size: 20px;
    padding-top: 37px;
    letter-spacing:5px;
}
.sec3-btn{
    border: 1px solid #6a4031;
    background: #6a4031;
    color: #ffffff;
    padding: 15px 40px;
    border-radius: 100px;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    letter-spacing: 3px;
    margin-top:50px;
  
}
.sec3-btn:hover{
        background-color: white;
        color:#b99272;
        border: none;
        box-shadow: 10px 10px 10px 5px;
}

/* section 2 about us */

.about-main{
    width:500px;
    height:400px;
    margin:0 50px;
}
.row{
    display: flex;
    margin-top:200px;
    justify-content:center;
    align-items: center;
}

.about-heding{
    color: #c7ac85;
    font-family: "Prata", serif;
    font-size:30px;
    padding-bottom:10px;
}
.about-heding:hover{
    text-decoration:underline black;
}
.about-title{
    color:#6a4031;
    font-family: "Prata", serif;
    font-size: 40px;
    padding-bottom:20px;
}
.about-img {
    margin: 0 50px;
    transition: 0.7s;
    animation-iteration-count:2;
}
.about-img:hover{
    transform: scale(1.1);

}
.about-img > img{
    width: 449px;
    height: 556px;
}
.about-txt{
    width:480px;
    font-size:20px;
    padding-bottom:20px;
    font-family: "Prata", serif;
    font-weight:500;
    color: #6a4031;
}
/* section3 */
.main2{
    display: flex;
    justify-content:space-evenly;
}
.service{
    margin-top:80px;
    width: 100%;
    height:700px;
    background: rgb(185,162,123);
    background: linear-gradient(90deg, rgba(185,162,123,1) 17%, 
    rgba(193,175,153,1) 48%,    rgba(187,162,125,1) 83%);
}
.service-heding{
    text-align: center;
  
}
.service-txt{
    color: #edd1ab;
    font-family: "Dancing Script", cursive;
    font-size:40px;
    padding-top:50px;
    padding-bottom: 20px;
}
.service-title{
    font-weight: 500;
    font-family: "Prata", serif;
    color: #6a4031;
    font-size: 40px;
}
.service-title:hover{
    text-decoration:underline;
    
}
.imgmain{
    margin-top:40px;
}
.imgfirst{
    width:333px;
    height:360px;
    transition:0.7s;
}
.imgfirst:hover{
    transform:scale(0.9);
}

.contain-txt{
    text-decoration: none;
    margin-bottom: 5px;
    font-weight: 600;
    color: #6a4031;
    font-size: 18px;
    text-align: center;
    font-family: "Prata", serif;
   
}
.pcenter{
    padding-top:15px;
    text-align: center;
}

/* section4 */
.work-title{
    text-align: center;
}
.work-heding{
   color: #edd1ab;
    font-family: "Dancing Script", cursive;
    font-size:80px;

}
.work-txt{
    color:#6a4031;
    font-family: "Prata", serif;
    font-size:60px;
    animation-iteration-count: 3;
}
.work-main{
    justify-content: center;
    display: flex;
    padding-top: 20px;
}

.work-hours{
    width: 700px;
    height: 200px;
}


.li{
    color:#6a4031;
    font-family: "Prata", serif;
    font-size:20px;
    width: 690px;
    height: 41px;
    border-bottom: 1px solid #c7ac85;
    padding-top: 15px;
    padding-bottom:40px;
      
}
.li span{
    float: right;
}
/* section 5 */
.service-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:650px;
    background: rgb(185,162,123);
    background: linear-gradient(90deg, rgb(199, 178, 143) 17%, 
    #E3D7C9,   rgba(187,162,125,1) 83%);
}
.service-sec1{
    width:600px;
    height:500px;
    box-sizing: border-box;
}
.service-section-img{
    padding-bottom: 20px;
    left: 20px;
    padding:60px 0 20px 30px;
}

.service-section-heding{
    color:#6a4031;
    font-family: "Dancing Script", cursive;
    font-size:30px;
    padding-bottom: 20px;
}
.service-section-title{
    color:#6a4031;
    font-family: "Prata", serif;
    font-size:40px;
    width:350px;
    letter-spacing:3px;
    padding-bottom:30px;

}
.service-section-txt{
    width:600px;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: rgb(51, 50, 45);
    line-height: 30px;
    padding-bottom: 30px;
}
.service-section-btn{
    border: 1px solid #6a4031;
    background: #6a4031;
    color: #ffffff;
    padding: 15px 40px;
    border-radius: 100px;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    letter-spacing: 3px;
}
.service-section-btn:hover{
background-color: white;
color:#b99272;
border: none;
box-shadow: 10px 10px 10px 5px;
}
.service-sec2{
    width:631px;
    height:500px;
}

/* section 6 */

.Branded{
    text-align: center;
}
.Branded-heding{
    font-family: "Dancing Script", cursive;
    font-size:30px;
    color:#b99272;
    line-height:80px;
}
.Branded-title{
    font-family: "Dancing Script", cursive;
    font-size:50px;
    color:#6a4031;
    font-family: "Prata", serif;
}
.Branded-img-main{
    padding-top: 50px;
}
.Branded-img{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    position: relative;
}

.Branded-img-ul{
    background-image: url(../image/round-brown.png);
    background-color:#d7cab9;
    width: 448px;
    height: 120px;
    position: absolute;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    bottom:4px;
    display:none;

   
}
.Branded-img1:hover .Branded-img-ul{
    display: block;
    display: flex;
    transition: all 0.10s;
}
.mission-section{
    width: 100%;
    height:800px;
    background: linear-gradient(90deg, rgb(199, 178, 143) 17%, 
    #E3D7C9,   rgba(187,162,125,1) 83%);
}
/* section 7 */
.round-brown{
    animation-iteration-count: infinite;
}
.mission-section{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.mission-section-img{
    width: 700px;
    height: 690px;

}
.mission-img{
    padding-left:5px;
    padding-bottom: 10px;
    border-radius: 15px;
    float: right;
}

.mission-section-img-main:hover .inner{
    display: block;
   
}
.inner{
    background: rgba(176, 151, 121, 0.8);
    width: 290px;
    height: 292px;
    position: absolute;
    margin:40px;
   display:none;
   
}
.img-inner{
    text-align: center;
    padding-top:100px;
}
.img-color{
    font-family: "Prata", serif;
    color: white;
    font-size: 18px;
    padding-bottom:15px;
}
.img-rs{
    font-family: "Prata", serif;
    color: white;
    font-size: 18px;
    padding-bottom:15px;
}
.img-time{
    font-family: "Prata", serif;
    color: white;
    font-size: 18px;
    padding-bottom:15px;
}
/* section 8 */
.effect0{
    left:10px;
    position: absolute;
}
.effect{
    position: absolute;
}
.effect2{
    position: absolute;
}
.products-hedar{
    justify-content: center;
    list-style: none;
}
.products-li{
    font-family: poppins;
    font-size:15px;
    font-weight: 500;
    color:#ffffff;
    border: 1px solid #6a4031;
    border-radius: 10px;
    margin: 20px;
    padding:10px;
    background-color: #6a4031;
    cursor: pointer;
}
@keyframes movebounce {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(400deg);}
}
.effect1{
    position: absolute;
    animation: movebounce 60s linear infinite;
}
/*  *****section 9******* */
.feature-section{
    background: linear-gradient(90deg, rgba(185,162,123,1) 17%, 
    #e2d6c6,    rgba(187,162,125,1) 83%);
    width: 100%;
    height:850px;
}
.feature-title{
    text-align: center;
    padding-top:100px;
}
.feature-heding{
        font-family: "Dancing Script", cursive;
    font-size:30px;
    color:#6a4031;
    font-size: 21px;
    padding-bottom:15px;
}
.feature-text{
    font-family: "Work Sans", sans-serif;
    font-weight:400;
    font-size:31px;
    color: #6a4031;
    letter-spacing: 2px;
}
.feature-section2{
    justify-content:space-around;
    padding-top:80px;
 }

.feature-img1{
    padding-left:100px;
}
.feature-img2{
    padding-left: 50px;
}
.feature-box1-heding{
    font-family: "Prata", serif;
    color:#6a4031;
    font-size:30px;
    text-align: center;
    padding-top: 20PX;
    padding-bottom:10px;
}
.feature-box1-txt{
    font-family:poppins;
    color:black;
    font-weight:400;
    font-size:18px;
    letter-spacing:1px;
    width:550px;
 
}
.feature-section3{
    margin-right:80px;
}

/* section 11 */
.testimonial-section{
    background: rgb(203,184,156);
    background: linear-gradient(49deg, rgba(203,184,156,1) 4%, rgba(226,214,200,1) 54%,
    rgba(202,182,154,1) 78%);
    width: 100%;
    height: 340px;
    justify-content:center;

}
.test-img{
    padding:80px 0px 0px 50px;
}
.test-img-boy{
    border-radius: 200px;
    width: 200px;
    height:200px;
}
.comment-box{
    width: 690px;
    height: 97px;
    padding:120px 0px 0px 50px;
}
.comment-box-txt{
    font-family: "Work Sans", sans-serif;
    font-weight:400;
    font-size:18px;
    width: 780px;
    padding-bottom: 20px;
   
}
.reting{
    color: #6a4031;
}
.retingg{
    color: white;
    padding-bottom: 20px;
}

.comment-name{
    font-family: "Work Sans", sans-serif;
    font-weight:bold;
    font-size:16px;
    color: #6a4031;
    padding-bottom: 20px;
}

.plus{
    float: right;
    width:80px;
    animation-duration:6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
/* sectoin 12 */
.Appointment-title{
    font-family: "Prata", serif;
    color: #6a4031;
    font-weight:700;
    font-size: 20px;
    line-height:40px;
}
.Appointment-txt{
    font-family: "Work Sans", sans-serif;
    font-weight:400;
    font-size:16px;
    color: black;
    width: 500px;
    letter-spacing:1px;
    padding-bottom:10px;
}
.country{
    font-family: poppins;
    font-size:15px;
    font-weight:600;
    color: #6a4031;
}
.read{
    font-family: poppins;
    font-size:15px;
    font-weight:600;
    color: #6a4031;
    letter-spacing: 2px; 
}

.imgmainn{
    margin-top: 40px;
    margin-left:30px;
}
/* section 13 */
.advertise-section{
    margin-top: 180px;
}
.effect11{
    margin-left:-160px;
    animation: movebounce 60s linear infinite;
}

.advertise-section{
    background: rgb(219,206,188);
    background: linear-gradient(220deg, rgba(219,206,188,1) 27%, rgba(205,188,162,1) 40%);
    height: 570px;
    width: 100%;
    justify-content: center;
    align-items:center;
}
.advertise-img{
    padding-bottom:150px;
}
.advertise-txt{
    width: 960px;
    height: 186px;
}
.advertise-heding{
    color: #6a4031;
    font-size:40px;
}
.advertise-title{
    width:880px;
    padding-top: 18px;
    line-height:30px;
    color: #33322d;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size:20px;
}
.effect01{
    width:150px;
    padding-left: 50px;
}
/* section 14 */
.spa-section-main {
    justify-content:center;
}
.spa-box1{
    border-bottom: 3px solid #cab79a;
    border-right: 3px solid #cab79a;
    width:450px;
    height: 245px;
    text-align: center;
    padding-top:50px;
}
.spa-box3{
    border-bottom: 3px solid #cab79a;
     width:450px;
    height: 245px;
    text-align: center;
    padding-top:50px;
}
.spa-box2{
    border-right: 3px solid #cab79a;
     width:450px;
    height: 245px;
    text-align: center;
    padding-top:50px;
}
.spa-box4{
    border-right: 3px solid #cab79a;
     width:450px;
    height: 245px;
    text-align: center;
    padding-top:50px;
}
.spa-box5{
     width:450px;
    height: 245px;
    text-align: center;
    padding-top:50px;
}
/* section 15 */

.instabox-img{
   position: relative; 
}
.instabox-img-img{
    width: 254px;
    height: 254px;
    position: relative;
}
.instabox-imgg{
    width: 254px;
    height: 254px;
    background-color: rgba(240, 163, 76, 0.4);
    position: absolute;
    bottom:4px;
     display: none;

}
.fa-instagram{
    font-size:60px;
    color: white;
    text-align: center;
    padding:100px;
}
.instabox-img:hover .instabox-imgg{
    display: block;
}

/* section 16 */
.section-16{
    background-color: #c7ac85;
    position: relative;
    width: 100%;
    height:145px;
    margin-top:-4px;
}
.media{
    display: flex;
    align-items: center;
    width:250px;
    padding-left: 30px;
}
.border{
    border-right:3px solid #6a4031;
    height: 80px;
    position: absolute;
    left: 280px;
    top:33px;
}
.headphones{
    font-size:70px;
    color: #6a4031;
}
.media-body{
    padding:50px 0px 50px 20px;
}
.media-call{
    font-family: "Work Sans", sans-serif;
    color: #6a4031;
    font-size: 16px;
    padding-bottom:15px;
}
.media-number{
    font-family: "Work Sans", sans-serif;
    color: black;
    font-size: 16px;
}

.news-letter{
    font-family: "Work Sans", sans-serif;
    color: #6a4031;
    font-size: 16px;
    position: absolute;
    top:50px;
    left:330px;
}
.news-txt{
    font-family: "Work Sans", sans-serif;
    color: black;
    font-size: 16px;
    top:80px;
    left:330px;
    position: absolute;
}
.email-box{
    float: right;
}
.email{
    width: 425px;
    background-color: #ffffff;
    border: 2px solid white;
    border-radius: 25px;
    outline: none;
    position: absolute;
    top:60px;
    right:100px;
    padding:10px;
}
.submit-btn{
    position: absolute;
    top:60px;
    right:100px;
    background-color: #6a4031;
    border-radius:25px;
    color: white;
    padding:10px;
    border:2px solid #6a4031;
}

/* ***footer */
.footer-bg{
    background-color: #231511;
    width: 100%;
    height:455px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.colam-1{
    width: 360px;
    height:220px;
}
.colam-img{
    margin-left: 20px;
}
.colam-txt{
    font-family: "Work Sans", sans-serif;
    color: black;
    font-weight:400;
    color:rgb(167, 153, 149);
    width:350px;
    padding:30px ;
    line-height:22px;
}
.icon-social{
    font-size:30px;
    background-color: #1f1613a5;
    color: #d7cab9;
    padding-left:20px;
}

.colam-2{
    width: 240px;
    height: 204px;
}
.colam-2-title{
    font-family: "Work Sans", sans-serif;
    color: #d7cab9;
    font-weight: 600;
    font-size:20px;
    padding-bottom: 20px;
}
.colam-2-menu{
    text-decoration: none;
    color:rgb(167, 153, 149);
    font-family: "Work Sans", sans-serif;
    margin-bottom: 20px;
}
.colam-2-main{
    padding-bottom:10px;
}
.fa-angles-right{
    padding-right: 10px;
}
.colam-3{
    width: 350px;
    height: 220px;
}
.portfolio{
    font-family: "Work Sans", sans-serif;
    color: #d7cab9;
    font-weight: 600;
    font-size:20px;
    padding-bottom: 20px;
}
.portfolio-img{
    width:75px;
    height: 80px;
    margin-left:5px;
    margin-bottom: 5px;
}
.colam-4{
    width: 350px;
    height: 220px;
}
.colam-4-icon{
    padding-right: 10px;
    color: #d7cab9;
}
.colam-4-location{
    font-family: "Work Sans", sans-serif;
    color: #d7cab9;
    width: 400px;
    padding-bottom: 20px;
}

